In [4]:
 d = {'k1':'key1 contents', 'k2':123}

d['k1']

'key1 contents'

In [9]:
d = {'k1':[1, 2, 3]}
d['k1']

[1, 2, 3]

*Tuple is immutable whereas List is changeable*

In [13]:
t = (1,2,3) # syntax: ()
t[2] = 4 # cannot reassign value to tuple

TypeError: 'tuple' object does not support item assignment

*Sets return unique values in the list*

In [31]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2} # sets

s = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2} # sets syntax: {}
s

{1, 2, 3}

list -> []
dictionary -> {'key':'value'}
tuple -> () # cannot reassign value
set ->{} # returns unique value in the list

In [24]:
# using the set() function to grab unique elements of a list
set([1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2])

{1, 2, 3}

In [33]:
s.add('234')
s.add(2) # 2 is already in the list so will not be added
s

{1, 2, '234', 3}

**_While loop_**

In [38]:
i = 1
while i < 5:
    print("j is: {}".format(i))
    i += 1

j is: 1
j is: 2
j is: 3
j is: 4

**_Range_**

In [40]:
list(range(5))

[0, 1, 2, 3, 4]

**_List Comprehension_**

In [45]:
x = list(range(1,5))
x

[1, 2, 3, 4]

In [136]:
# square each item in list x
['large' if item**2 < 8 else 'small' for item in x]

['large', 'large', 'small', 'small']

**_Lambda, Map, and Filter_**

In [49]:
seq = list(range(1,6))
seq

[1, 2, 3, 4, 5]

In [57]:
# map - applies function to each element in the array

list(map(lambda a: a**2, seq))

[1, 4, 9, 16, 25]

In [56]:
# filter - compares each element in the list and returns those that
# satisfies specified condition

list(filter(lambda b: b%2 == 1, seq))

[1, 3, 5]

**_Built-in Functions_**

In [79]:
# string functions
string = "Hello my NAME is S's"
string.lower()

"hello my name is s's"

In [62]:
string.upper()

"HELLO MY NAME IS S'S"

In [64]:
string.split()

['Hello', 'my', 'NAME', 'is', "S's"]

In [70]:
tstr = 'Go Sports! #Sports'
tstr.split('#')[0]

'Go Sports! '

In [73]:
d = {'key1': 'item1', 'key2': 'item2'}
d.keys()

dict_keys(['key1', 'key2'])

In [76]:
d.values()

dict_values(['item1', 'item2'])

In [80]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

**_List Built-In Functions_**

In [123]:
lst = list(range(5))
lst1 = list(range(5,11))
lst

[0, 1, 2, 3, 4]

In [124]:
lst.append(6)
lst

[0, 1, 2, 3, 4, 6]

In [125]:
lst.extend(lst1) # extend lst with elements from lst1
lst

[0, 1, 2, 3, 4, 6, 5, 6, 7, 8, 9, 10]

list.insert(index, element)

list.remove(element)

list.index(element)

list.count(element)

list.pop(index)

list.sort(key=..., reverse=...)

list.copy()

list.clear() # removes all items from the list

any(list) # boolean list

filter(bool_func, list) # often used with lambda

In [103]:
blst = [False, True,False,False,False,]

In [105]:
any(blst)

True

In [107]:
all(blst)

False

In [112]:
numLst = list(range(1,4))
strLst = ['one', 'two', 'three']

list(zip(numLst, strLst))

[(1, 'one'), (2, 'two'), (3, 'three')]

In [114]:
set(zip(numLst, strLst))

{(1, 'one'), (2, 'two'), (3, 'three')}

In [127]:
# pops from the end by default
# also takes index as an arg
lst.pop()

9

In [131]:
'x' in list(range(7))

False

In [134]:
'x' in ['x','y','z']

True